@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }
    .botao {
        margin-bottom: 5px;
        width: 300px;
    }
}

@media screen and (min-width: 1000px) {
    .descricao {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .filme-principal .titulo {
        margin-bottom: 5px;
        font-size: 35px;
    }
    .botao {
        position: relative;
        bottom: 15px;
        margin: 5px 15px;
        padding-bottom: 15px;
        right: 15px;
        left: 30px;
    }
}

@media screen and (max-width: 413px) {
    .filme-principal .titulo {
        margin-bottom: 5px;
        font-size: 35px;
    }
    .botao {
        position: relative;
        bottom: 15px;
        margin: 5px 15px;
        padding-bottom: 15px;
        right: 15px;
        left: 10px;
    }
}

@media screen and (max-width: 600px) {
    img.box-filme {
        height: 0px 35px;
    }
}